html,body{
	margin: 0;
	padding: 0;
	height: 100vh;
	background: powderblue;
}
.title{
	color: #fff;
}
.bg{
	width: 80%;
	height: 70%;
	margin: 0 auto;
	background-image: url('./bg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
